<table class="table table-hover">
    <thead>
    <tr>
        <td>Name</td>
        <td>Sex</td>
        <td>DOB</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let someItem of someList">
        <td>{{someItem.name}}</td>
        <td>{{someItem.sex}}</td>
        <td>{{someItem.dob | date:'shortDate'}}</td>
        <td>
            <button (click)="edit(someItem._id)" class="btn btn-default pull-right"><span class="fa fa-pencil"> Edit</span></button>
            <button (click)="remove(someItem._id)" class="btn btn-default pull-right"><span class="fa fa-trash-o"> Delete</span></button>
        </td>
    </tr>
    </tbody>
</table>
<button (click)="add()" class="btn btn-primary pull-right"><span class="fa fa-plus"></span> Add</button>